<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="18.7.0" targetFramework="net40" />
  <package id="FreeSpire.Office" version="3.0" targetFramework="net40" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net40" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net461" />
</packages>